.body {
  min-height: 100vh;
  background: url("../../images/hero_bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background: #ffffff;
  border-radius: 30px;
  padding: 1rem;
  margin: 2rem;
  height: calc(100% - 19rem);
  flex-direction: column;
  gap: 2rem;
  /* width: 50%; */
  /* background-color: rgba(255, 255, 255, 0.95); */
  overflow-y: auto;
}
.backdrop {
  /* position: fixed; */
  background: rgba(255, 242, 238, 0.94);
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
/* .body {
  background: url("../../images/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
} */

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.headerText {
  text-align: center;
  color: #101828;
  font-size: 1.5rem;
}
.headerNextText {
  text-align: center;
  color: #d32028;
}
.headerLabelText {
  text-align: start;
  color: #101828;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.nextStepsCard {
  background: #fff8f4;
  border: 1px solid rgba(212, 33, 41, 0.15);
  border-radius: 12px;
  padding: 2rem 1rem;
}
.tabInactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff8f4;
  box-shadow: 0px 3px 3px rgba(211, 32, 40, 0.1);
  border-radius: 12px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.courseDetailsTabs {
  display: flex;
  gap: 3rem;
  width: 75%;
}

.tabActive img,
.tabInactive img {
  height: 5rem;
  margin-right: 2rem;
}

.tabActive p,
.tabInactive p {
  font-size: 1.5rem;
  color: #646464;
}

.tabActive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff8f4;
  border: 2px solid #d32028;
  box-shadow: 0px 3px 3px rgba(211, 32, 40, 0.1);
  border-radius: 12px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.addressInputGrid {
  display: grid;
  grid-template-areas:
    "door door street street"
    "city state pin save";
  gap: 1rem;
}
